django<2.1
psycopg2==2.7.3.2
django-extensions==1.9.7
gunicorn==19.7.1
django-forms-bootstrap==3.1.0
pytest==3.3.0
pytest-django==3.1.2
tox==2.9.1
pylama==7.4.3
djangorestframework<=3.9
Pillow
Markdown
django-debug-toolbar
requests
ipython
raven
