{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="format-detection" content="telephone=no">
        <meta property="og:url"              content="https://cress.space{% block og_url_path %}{% endblock %}" />
        <meta property="og:title"            content="{% block og_title %}cress.space{% endblock %}" />
        <meta property="og:description"      content="Makes meeting fellow humans easy." />
        <meta property="og:image"            content="FIXME" />
	<meta name="google-signin-client_id" content="717905678497-91ckg8pg8ed38ij9766mi4frg41rfbib.apps.googleusercontent.com">

        <title>{% block title %}{% if object %}{{ object }} | {% endif %}cress.space{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
      <div class="navbar-fixed">
	<nav class="teal darken-4">
	  <div class="navbar-wrapper">
	    <ul id="nav-main" class="left">
              <li><a href="{% url 'home' %}"><i class="material-icons left">home</i>Home</a></li>
              {% if user.is_authenticated %}
              {% if request.user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}
              {% endif %}
              {% if user.is_authenticated %}
	      <li class="navbar-text"><i class="material-icons left">person_pin</i>Signed in with {{ user.email }}</li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
	</nav>
      </div>

      <main>
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }} {{ message.extra_tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    {% block small_content %}
                    {% endblock small_content %}
                </div>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
      </main>

      <footer class="page-footer teal darken-4">
        <div class="container">
	  <a class="grey-text text-lighten-4" href="{% url 'legal' %}">Legal/Contact</a>
	</div>
      </footer>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script type="text/javascript">
$(".button-collapse").sideNav();
    </script>
        {% block bottom_js %}
        {% endblock %}
        {% if environment == 'production' %}
	{% endif %}
    </body>
</html>
