  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .report ul li {
      min-height: 81px;
      list-style-type: square;
      margin-left: 20px;
  }