{% extends 'base.html' %}
{% load static %}

{% block page_title %}
user controlled plant growing
{% endblock %}

{% block content %}

<div class="row">
  <div class="col m12">
      <div class="row">

        <div class="col m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">{{ cycle.box }} - {{ cycle.name }}</span>
            </div>
            <div class="card-action">
	      {% if cycle_prev %}
	      <a href="{{ cycle_prev.get_absolute_url }}" role="button">previous cycle</a>
	      {% endif %}
	      {% if cycle_next %}
	      <a href="{{ cycle_next.get_absolute_url }}" role="button">next cycle</a>
	      {% endif %}
	      {% for box in boxes %}
	      {% if box != cycle.box %}
	      {% with c=box.cycle.all|last %}
	      <a href="{{ c.get_absolute_url }}" role="button">{{ box }}</a>
	      {% endwith %}
	      {% endif %}
	      {% endfor %}
            </div>
          </div>
        </div>

        <div class="col m4">
          <div class="card small hoverable">
            <div class="card-image">
              <img src="{{ image.image.url }}">
	      <span class="card-title"></span>
            </div>
            <div class="card-content">
	      <p>photo from {{ image.created }}</p>
            </div>
	    <div class="card-action">
              <a href="{{ image.image.url }}">Image in full size</a>
	    </div>
          </div>
	</div>

	<div class="col m4 s4">
          <div class="card hoverable">
            <div class="card-content">
	      <div id="chartContainer" style="height: 250px; width: 100%;"></div>
            </div>
	    <div class="card-action">
	    </div>
          </div>
	</div>

	{% if sensor_list %}
	<div class="col m12">
          <div class="card hoverable">
            <div class="card-content">
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr><th>sensor</th><th>type</th><th>position</th><th>value</th><th>created</th></tr>
		  </thead>
		  <tbody>
		  {% for sensor in sensor_list %}
		  <tr>
		    <td>{{ sensor.sensor_type }}</td><td>{{ sensor.value_type }}</td><td>{{ sensor.position }}</td><td>{{ sensor.value }}{% if sensor.unit != '-' %} {{ sensor.unit }}{% endif %}</td>
		    <td><span style="font-size:9px">{{ sensor.created }}:</span></td>
		  </tr>
		  {% endfor %}
		  </tbody>
		</table>
            </div>
          </div>
	</div>
	{% endif %}

      {% for image in older_images %}
        <div class="col m4">
          <div class="card small hoverable">
            <div class="card-image">
              <img src="{{ image.image.url }}">
	      <span class="card-title"></span>
            </div>
            <div class="card-content">
	      <p>photo from {{ image.created }}</p>
            </div>
	    <div class="card-action">
              <a href="{{ image.image.url }}">Image in full size</a>
	    </div>
          </div>
	</div>
{% endfor %}
	</div>
  </div>
</div>
{% endblock content %}

{% block bottom_js %}
    <script type="text/javascript">
      function load_image()
      {
        $.get('latest_photo', function (data)
        {
          $('#photo').attr('src', jQuery.parseJSON(data).url);
          $('#photo_created').text(jQuery.parseJSON(data).created);
        });
      }

      $(function() {
        // 5 minutes
        delay_ms = 1000*60*5;
        // reload image on a timer
        setInterval(load_image, delay_ms);
        // also reload image when clicking on it
        $('#photo').click(load_image);
      });
    </script>

{# plot #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
<script type="text/javascript">

window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
                title:{
                        text: "{% with x=chart_data|first %} {{ x.value_type }} {% endwith %}"
                },
                axisY: {
                        interval:25,
                        minimum: 0,
                        maximum: 100
                },
                data: [
                {
                        showInLegend: true, 
                        legendText: "inside of box",
                        type: "line",
                        dataPoints: [
{% for item in chart_data %} {% if item.position == "inside" %} { label: "{{ item.created|date:"Y-m-d" }}",  y: {{ item.value }}  },
{% endif %} {% endfor %}
                        ]
                },
                {
                        showInLegend: true, 
                        legendText: "outside of box",
                        type: "line",
                        dataPoints: [
{% for item in chart_data %} {% if item.position == "outside" %} { label: "{{ item.created|date:"Y-m-d" }}",  y: {{ item.value }}  },
{% endif %}{% endfor %}
                        ]
                }
                ]
        });
        chart.render();
}
</script>
{% endblock %}
