{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}
LOGIN
{% endblock %}

{% block content %}
<div class="row">
    <div class="col m6">
        <h2>Log in with your existing account</h2>
        <div class="row">
            <div class="col m4">
                <a onclick="ga('send', 'event', 'login', 'google-oauth2')" class="waves-effect waves-light btn" href="{% url 'social:begin' 'google-oauth2' %}{% if next %}?next={{ next }}{% endif %}">Google</a>
            </div>
        </div>
    </div>

    <div class="col m5 offset-m1">
        <form class="well" id="box-local" method="POST">
            <h2>Log in with password</h2>
            {% csrf_token %}
            {{ form|as_bootstrap }}

            <button onclick="ga('send', 'event', 'login', 'local')" class="btn">Sign In</button>
        </form>
    </div>
</div>
{% endblock content %}
